[submodule "QTDecisionMaker.wiki"]
	path = QTDecisionMaker.wiki
	url = https://github.com/supersliser/QTDecisionMaker.wiki.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/supersliser/QTDecisionMaker.wiki.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
